.configure-hotkey-btn {
  align-self: baseline;
  border-radius: var(--mantine-radius-sm);
  padding: 0.25rem;
  padding-bottom: 0.5rem;
  background-color: var(--mantine-color-dark-6);

  transition: background-color 0.15s;
}

.configure-hotkey-btn:hover {
  background-color: var(--mantine-color-dark-7);
}

.configure-hotkey-btn > kbd {
  background-color: var(--mantine-color-dark-5);

  transition: background-color 0.15s;
}

.configure-hotkey-btn:hover > kbd {
  background-color: var(--mantine-color-dark-4);
}
