.configure-img-btn {
  height: 100px;
  width: 100px;
  border-radius: var(--mantine-radius-md);

  transition: background-color 0.15s;
}

.configure-img-icon {
  position: absolute;
  z-index: 50;
  transition: background-color 0.15s;
}

.configure-img--add-img-btn {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  background-color: var(--mantine-color-dark-7);
  border: solid 1px var(--mantine-color-green-5);
}
.configure-img--add-img-btn:hover {
  background-color: var(--mantine-color-dark-8);
  border: solid 1px var(--mantine-color-green-4);
}

.configure-img--edit-img-btn {
  background-color: var(--mantine-color-dark-7);
  border: solid 1px var(--mantine-color-dark-7);
}
.configure-img--edit-img-btn:hover {
  background-color: var(--mantine-color-dark-8);
}

.configure-img--add-img-icon {
  color: var(--mantine-color-green-5);
}
.configure-img--add-img-btn:hover > .add-img-icon {
  color: var(--mantine-color-green-4);
}

.configure-img--edit-img-icon {
  width: 22px;
  height: 22px;

  color: var(--mantine-color-dark-0);
  bottom: 1px;
  right: 1px;
}
.configure-img--edit-img-btn:hover > .edit-img-icon {
  color: var(--mantine-color-dark-1);
}
